name: Python tests
on:
  push:
    branches:
      - main
  pull_request: {}
jobs:
  lint:
    name: Run lint
    runs-on: ubuntu-20.04
    timeout-minutes: 15
    steps:
    - uses: actions/checkout@v2
      with:
        lfs: false
    - uses: actions/setup-python@v4
      with:
        python-version: '3.10'
    - name: Create venv
      run: |
        python -m venv venv
        source venv/bin/activate
        pip install -r requirements.dev.txt
    - name: Run pysen
      run: |
        source venv/bin/activate
        pysen run lint
